@font-face {
    font-family: Persona5-Menu;
    src: url(../fonts/Persona5MenuFontPrototype-Regular.ttf);
}

@font-face {
    font-family: p5hatty;
    src: url(../fonts/p5hatty-1.ttf);
}

@font-face {
    font-family: Optima-Nova-LT-Black;
    src: url(../fonts/Optima\ nova\ LT\ Black\ Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E60012;
    --red-light: #FF2638;

    --black: #0D0D0F;
    --black-soft: #17171A;

    --white: #F5F5F5;
    --white-muted: #DCDCDC;

    --gold: #D6A928;
    --gold-light: #F2D46F;

    --special-font: Persona5-Menu;
    --common-font: Optima-Nova-LT-Black;
    --bold-font: p5hatty;

    --sizing-sm: 1rem;
    --sizing-md: 1.5rem;
    --sizing-lg: 2rem;
    --sizing-xl: 3rem;
    --sizing-xxl: 4rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--red);
}

section {
    height: 100vh;
}

h1 {
    font-weight: normal;
}

header {
    font-family: var(--special-font);
    background-color: var(--black);
    color: var(--white);
    
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--sizing-lg);

    position: sticky;
    z-index: 1000;
    top: 0;
}

header h1 {
    font-size: var(--sizing-xl);
    transition: .4s;
}

header h1 a {
    text-decoration: none;
    color: var(--white);
    transition: .4s;
}

header h1:hover {
    scale: 1.1;
}

header a:hover {
    color: var(--gold-light);
}

.nav-header-menu {
    font-family: var(--bold-font);
    display: flex;
    list-style: none;
    align-items: center;
    gap: var(--sizing-md);
    padding: var(--sizing-md);
    font-size: var(--sizing-lg);
}

.nav-header-menu li{
    transition: .4s;
}

.nav-header-menu li:hover {
    scale: 1.1;
}

.nav-header-menu a {
    color: var(--white);
    text-decoration: none;
    transition: .4s;
}

input, button {
    height: 35px;
    width: 350px;
    text-align: center;
    font-family: var(--common-font);
    font-size: 1rem;
}

button {
    background-color: var(--red-light);
    border-radius: 5px;
    transition: .4s;

    &:hover {
        background-color: var(--red);
        scale: 1.02;
    }
}

#Personas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--sizing-lg);
    align-items: center;
    text-align: center;
    margin-inline: var(--sizing-lg);

    h1 {
        font-family: var(--special-font);
        font-size: var(--sizing-xl);
        color: var(--white);
    }
    
    .form-persona {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--sizing-lg);
        padding: var(--sizing-md);
        background-color: var(--black-soft);
        border-radius: 10px;
        border: 4px solid var(--white-muted);
    }

    .cadaster-persona {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-lg);

        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--sizing-sm);
            justify-items: center;
        }
    }

    .search-persona {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-md);

        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--sizing-sm);
            justify-items: center;
        }
    }

    .delete-persona {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-md);

        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--sizing-sm);
            justify-items: center;
        }
    }

    .result-persona {
        background-image: url(../images/resultado.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        object-fit: cover;
    }
}

#Elementos {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(../images/elementos_transparente.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    gap: var(--sizing-sm);

    border-top: 4px solid var(--gold-light);
    border-bottom: 4px solid var(--gold-light);

    h1 {
        font-family: var(--special-font);
        font-size: var(--sizing-xl);
        color: var(--white);
    }

    .search-elemento {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-md);
        width: 600px;
        text-align: center;
        padding: var(--sizing-md);
        background-color: var(--black-soft);
        margin-inline: var(--sizing-lg);
        margin-top: var(--sizing-xl);
        border-radius: 10px;
        border: 4px solid var(--white-muted);

        form {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--sizing-sm);
            justify-items: center;
        }
    }

    .result-elemento {
        width: 600px;
        margin-inline: var(--sizing-lg);
        background-image: url(../images/resultado.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        height: 250px;
    }
}

#Arcanas {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(../images/arcano_transparente.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    gap: var(--sizing-lg);

    h1 {
        font-family: var(--special-font);
        font-size: var(--sizing-xl);
        color: var(--white);
    }

    .search-arcano {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-md);
        width: 600px;
        text-align: center;
        padding: var(--sizing-md);
        background-color: var(--black-soft);
        margin-inline: var(--sizing-lg);
        margin-top: var(--sizing-xl);
        border-radius: 10px;
        border: 4px solid var(--white-muted);

        form {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--sizing-sm);
            justify-items: center;
        }
    }

    .result-arcano {
        width: 600px;
        margin-inline: var(--sizing-lg);
        background-image: url(../images/resultado.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        height: 250px;
    }
}

.column-2 {
    grid-column: span 2;
}

.result {
    color: var(--white);
    font-family: var(--common-font);
    font-size: 1.1rem;

    padding: var(--sizing-lg) var(--sizing-xxl);
    text-align: left;
    white-space: pre-line;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}